<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyPapers</servlet-name>
        <servlet-class>controller.MyPapers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WritePaper</servlet-name>
        <servlet-class>controller.WritePaper</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificaArticolo</servlet-name>
        <servlet-class>controller.ModificaArticolo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage</servlet-name>
        <servlet-class>controller.Manage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewArticle</servlet-name>
        <servlet-class>controller.NewArticle</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Valutazione</servlet-name>
        <servlet-class>controller.Valutazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestAuthors</servlet-name>
        <servlet-class>controller.SuggestAuthors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyPapers</servlet-name>
        <url-pattern>/articoli.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WritePaper</servlet-name>
        <url-pattern>/scriviArticolo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/registrazione.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificaArticolo</servlet-name>
        <url-pattern>/modificaArticolo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage</servlet-name>
        <url-pattern>/gestione.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewArticle</servlet-name>
        <url-pattern>/nuovoArticolo.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Valutazione</servlet-name>
        <url-pattern>/valutazione.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestAuthors</servlet-name>
        <url-pattern>/suggest.json</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
           login.html
        </welcome-file>
    </welcome-file-list>
</web-app>
