/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2019, 19.19.52
    Author     : Sara
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}


/*id per il form contenuto nella pagina di login*/
#sfondo_header{
    background-color: #24415E;
    height: 70px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
}
#sfondo_header > #titolo{
    background-color: #24415E;
    height: 70px;
    width: 190px;
    margin-top: 0px;
    position: absolute;
}

h1.titolo{
    color: #fff;  
    font-size: 18px;
    text-align: center;
}

#login{    
    padding: 25px;
    width: 400px;
    height: 300px;   
    margin: auto;/* Centra il box nella pagina, adattandolo*/
    margin-top: 60px;
    font-size: 15px;
}

#id_password, #id_username{
    width: 100%;
    height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input:focus {
    background-color: #906C37;
    color: white;
    border: none;
}
button{
    background-color: #906C37;
    border: none; 
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    cursor: pointer;
}

button:active{
    color: #24415E;
    border: none;
}
.val{
    margin-top: 1px;
    float: right;
}
/*puntatore sopra il link*/
a:link, a:visited {
    color: #906C37;
    text-decoration: none;
}

a:hover{
    color: #906C37;
    font-weight: bold;    
    font-style: oblique;
}

a:active{
    text-decoration: underline;
}
/* PAGINA VALUTAZIONE */
/* Sezione contenente titolo, autori ecc */


nav#sfondo_menu{
    width: 100%;
    height: 70px;
}
nav#sfondo_menu > ul#menu_pagine{
    height: 70px;  
    list-style-type: none;
    padding-top: 15px; 
    margin: 0px;    
    overflow: hidden;    
}

nav#sfondo_menu > ul#menu_pagine > li {
    margin-left: 80px;
    float: left;
    font-size: 15px;
}

nav#sfondo_menu > ul#menu_pagine > li > a {
    color: white;
    height: 70px;
    padding: 80px;
}

nav#sfondo_menu > ul#menu_pagine > li > a:hover{
    background-color: white;
    color: #24415E;
}

aside#barra_laterale{
    background-color: #DDDDDD;
    height: 748px;
    width: 190px;
    margin-right: 20px;
    float: left;
}

section#resto{
    background-color: #EEEEEE;
    height: 748px;
    margin: 0px;
    padding-top: 0px;
}
section#sfondo_descrizioni > h1{
    margin-top: 0px;
    
}

#immagine{
    width: 100%;
    height: 350px;
    padding: 10px;
}
/* Paragrafo con la recensione del film */
#contenuto{
    padding: 12px;
    font-size: 13px;
    text-align: justify; 
}

p#nome {
}

#scelta_voto {
    background-color: bisque;
    float: right; 
}

#descrizioni{
    margin: 0px;
    text-align: center;
}