/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-mar-2019, 19.19.52
    Author     : Sara
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h1.titolo{
    color: #fff;  
    font-size: 18px;
    text-align: center;
}
/*Classe per il form contenuto nella pagina di login*/
#sfondo_header{
    background-color: #24415E;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    padding-top: 10px;
}
#sfondo_header > #titolo{
    background-color: transparent;
    height: 75px;
    width: 120px;
}
#login{    
    margin-top: 50px; 
    padding: 20px;
    width: 330px;
    height: 250px;  
    margin: 0px auto; /* Centra il box nella pagina, adattandolo*/
    font-size: 14px;
}

#id_password, #id_username{
    width: 100%;
    height: 23px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input:focus {
    background-color: #24415E;
    color: white;
    border: none;
}
button{
    background-color: #906C37;
    border: none; 
    width: 100%;
    padding: 8px 145px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover{
    color: #24415E;
}
.val{
    margin-top: 1px;
    float: right;
}
/*puntatore sopra il link*/

a:visited{
    color: #906C37;
}
a:link{
    color: #906C37;
}
a:active{
    color: #906C37;
}

#descrizioni{
    padding-top: 0px;
    text-align: center;
}